*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Regole sfondo */
.header-verde{
    width: 100%;
    height: 100px;
    background-color: #009688;
    position: fixed;
    z-index: 90;
}

.main-grigio{
    width: 100%;
    height: 100%;
    background-color: #dadacf;
    position: fixed;
    z-index: 89;
}


/* Regole blocco centrale principale */

.main-container{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 20px;
    left: 200px;
    background-color: blue;
    z-index: 91;
    display: flex;
}


/* Regole barra laterale */
.barra-laterale{
    height: 100%;
    width: 30%;
    background-color: pink;
}

/* Regole profilo utente */

.header-barra-laterale{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header-barra-laterale-container-left{
    width: 80px;
    height: 90%;
    display: flex;
}

.sofia{
    margin-top: 20px;
}

.header-barra-laterale-container-right{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


/* Regole notifiche (laterale) */
.barra-celeste-laterale{
    width: 100%;
    height: 50px;
    background-color: #8edafc;
    display: flex;
}

.img-celeste-campana-laterale{
    width: 50px;
    height: 100%;
    padding: 15px;
}

.text-barra-celeste-laterale{
    margin-top: 13px;
    font-size: 10px;
}


/* Regole input (laterale) */
.barra-cerca-laterale{
    width: 100%;
    height: 30px;
    background-color: #ecede9;
}

.input-includes-magnifying{
    padding-right: 80px;
    margin-top: 5px;
}



/* Regole chat laterali */

.chat-barra-laterale{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}


.container-chat-laterali-left{
    width: 270px;
    height: 100%;
    display: flex;
    padding-top: 5px;
}


.container-chat-laterali-right{
    width: 100%;
    height: 100%;
}

.timestamp-chat{
    color: rgb(202, 200, 200);
    font-size: 10px;
    margin-top: 5px;
}





/* Regole chat grande centrale */
.main-main{
    width: 70%;
}

/* Regole header chat grande centrale */

.header-main{
    height: 50px;
    width: 100%;
}

.header-chat-centrale{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.header-chat-centrale-container-left{
    width: 500px;
    height: 100%;
    display: flex;
}


.header-chat-centrale-container-right{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.ultimo-accesso{
    font-size: 10px;
    color: rgb(178, 175, 175);
}

/* Regole main chat grande centrale */

.main-centrale{
    height: 500px;
    
    
}

.contenitore-messaggi{
    height: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: orange;
}

.chat-verde{
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    font-size: 10px;
    margin-bottom: 3px;
    background-color: #d5f9ba;
    align-self: flex-end;
}

.chat-bianca{
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    font-size: 10px;
    margin-bottom: 3px;
    background-color: #ffffff;
    align-self: flex-start;
}


/* Regole footer chat grande centrale */

.footer-centrale{
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: red;
}