<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
</head>
<body>
    <!-- Questo è lo sfondo decorativo verde -->
    <div class="header-verde">

    </div>

    <!-- Sfondo decorativo grigio -->
    <div class="main-grigio">

    </div>

    <!-- Qui inizia il blocco vero e proprio -->
    <div class="main-container">
        <div class="barra-laterale">

            <!-- Immagine profilo (Sofia) in alto a sinistra -->
            <div class="header-barra-laterale">
                <div class="header-barra-laterale-container-left">
                    <img src="Img/2002297-bella-donna-avatar-personaggio-icona-gratuito-vettoriale.jpg" alt="">
                    <h5 class="sofia">Sofia</h5>
                </div>

                <div class="header-barra-laterale-container-right">
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-regular fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    
                </div>




            </div>

            <!-- Parte di attivazione notifica con campanella barrata -->
            <div class="barra-celeste-laterale">
                <div class="img-celeste-campana-laterale">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="text-barra-celeste-laterale">
                    <strong>
                        Ricevi notifiche di nuovi messaggi
                    </strong>
                    <div>
                        <u>Attiva notifiche desktop</u>
                    </div>

                </div>

            </div>

            <!-- Qui c'è l'input con la lente d'ingrandimento -->
            <div class="barra-cerca-laterale">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class= "input-includes-magnifying" type="text" placeholder="cerca o inizia una nuova chat">

            </div>


            <!-- Questa è la parte laterale con le chat elencate -->

            <!-- Chat con Michela (1) -->
           <div class="chat-barra-laterale">
                <div class="container-chat-laterali-left">
                    <img src="Img/Michela.jpeg" alt="">

                    <div class="text-container-chat-laterali">
                        <h5>Michela</h5>
                        <p>ultimo messaggio inviato</p>
                    </div>


                </div>

                <div class="container-chat-laterali-right">
                    <p class="timestamp-chat">12:00</p>
    
                </div>

            </div>

            <!-- Chat con Fabiola (2)-->
            <div class="chat-barra-laterale">
                <div class="container-chat-laterali-left">
                    <img src="Img/WhatsApp-Avatar-Profile-Photo-Hero-1250x680.png" alt="">

                    <div class="text-container-chat-laterali">
                        <h5>Fabiola</h5>
                        <p>ultimo messaggio inviato</p>
                    </div>


                </div>

                <div class="container-chat-laterali-right">
                    <p class="timestamp-chat">12:00</p>
    
                </div>

            </div>

            <!-- Chat con Samuele (3) -->
            <div class="chat-barra-laterale">
                <div class="container-chat-laterali-left">
                    <img src="Img/Ale.jpeg" alt="">

                    <div class="text-container-chat-laterali">
                        <h5>Samuele</h5>
                        <p>ultimo messaggio inviato</p>
                    </div>


                </div>

                <div class="container-chat-laterali-right">
                    <p class="timestamp-chat">12:00</p>
    
                </div>

            </div>

            <!-- Chat con Alessandra (4) -->

            <div class="chat-barra-laterale">
                <div class="container-chat-laterali-left">
                    <img src="Img/sandra.jpg" alt="">

                    <div class="text-container-chat-laterali">
                        <h5>Alessandra</h5>
                        <p>ultimo messaggio inviato</p>
                    </div>


                </div>

                <div class="container-chat-laterali-right">
                    <p class="timestamp-chat">12:00</p>
    
                </div>

            </div>


            <!-- CHATS COL V-FOR -->
        
            <div v-for="chat in chats" class="chat-barra-laterale">
                <div class="container-chat-laterali-left">
                    <img :src="chats[0].fotoProfilo" alt="">

                    <div class="text-container-chat-laterali">
                        <h5>{{chat.nome}}</h5>
                        <p>ultimo messaggio inviato</p>
                    </div>


                </div>

                <div class="container-chat-laterali-right">
                    <p class="timestamp-chat">12:00</p>
    
                </div>

            </div>


            

           

        </div>

        <div class="main-main">
            <div class="header-main">
                <!-- Immagine profilo (Sofia) in alto a sinistra -->
                <div class="header-chat-centrale">
                    <div class="header-chat-centrale-container-left">
                        <img src="Img/Michela.jpeg" alt="">
                        <div>
                            <h5 class="sofia">Michela</h5>
                        
                            <p class="ultimo-accesso">Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>

                    <div class="header-chat-centrale-container-right">
                        <i class="fa-regular fa-circle"></i>
                        <i class="fa-regular fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        
                    </div>




            </div>

            <!-- Qui ci va la chat centrale in uso 
                INIZIO LOGICA-->
            <div class="main-centrale">

                <div class="contenitore-messaggi">

                    <div class="chat-verde">
                        Ciao, come stai?

                    </div>


                    <div class="chat-bianca">
                        Non c'è male, tu?
                    </div>


                    <div class="chat-verde">
                        {{messaggio}}
                    </div>

                </div>




            </div>



            <div class="footer-centrale">
                <p>smile</p>

                <!-- LOGICA -->

               <input type="text" placeholder="Scrivi un messaggio" v-model="messaggio">

                
        
               
                <p>icon</p>




            </div>

        </div>
    </div>






    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/main.js"></script>
    
</body>
</html>